@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Serif:400,400i,700,700i');


body {
  margin: 0;
  color: #101820;
  font: 15px/20px 'Source Sans Pro';
  letter-spacing: .013em;
  background-color: #f1f1f2;
  padding-left: 30px;
}

.restaurant-header {
  font-size: 18px;
  letter-spacing: 0.07em;
  padding-bottom: 30px;
  padding-top: 5px;
  border-top: 1px black solid;
}

.restaurant-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media all and (max-width: 950px) {
  .restaurant-cards {
    /* On small screens */
    grid-template-columns: 1fr;
  }
}

.restaurant-container {
  display: flex;
  margin-right: 40px;
  margin-bottom: 40px;
  height: 215px;
  background-color: #ffffff;
  color: #101820;
  font: 15px/20px 'Source Sans Pro';
  letter-spacing: .013em;
}

.restaurant-photocarousel {
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.restaurant-photocarousel-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-photocarousel .carousel.slide {
  height: 100%;
}

.restaurant-photocarousel .carousel.slide .carousel-inner {
  height: 100%;
}

.restaurant-photocarousel .carousel.slide .carousel-inner .item {
  height: 100%;
}

.restaurant-photocarousel .carousel.slide .carousel-inner img {
  height: 100%;
}

.carousel-indicators {
  bottom: -10px;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 24px;
  flex: 3;
}

.restaurant-details-name {
  padding-top: 10px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .15em;
}

.restaurant-details-info {
  padding: 2px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: .09em;
}

.pipeline {
  padding-right: 5px;
  padding-left: 5px;
}

.restaurant-details-ratings-comments, .restaurant-details-ratings-google-rating {
  font-size: 12.5px;
}

.apateez-logo-small, .google-logo-small,
.restaurant-details-ratings-zagat-rated, .restaurant-details-ratings-zagat-rated-value,
.restaurant-details-ratings-google-rating, .restaurant-details-ratings-stars,
.restaurant-details-ratings-comments {
  vertical-align: middle;
  padding-right: 2px;
  letter-spacing: .2em;
}

.apateez-logo-small, .google-logo-small{
  border-radius: 50%;
  width: 18px;
  padding-left: 2px;
}

.restaurant-details-ratings-zagat-rated {
  font-weight: bold;
  font-size: 13px;
  letter-spacing: .15em;
}

.restaurant-details-ratings-zagat-rated-value {
  font-size: 13px;
  color: #92002c;
}

.restaurant-details-ratings-stars {
  display: inline-block;
  position: relative;
  width: 58.5px;
}

.restaurant-details-ratings-stars-top {
  font-size: 9px;
  line-height: 1.6;
  color: #101820;
  position: absolute;
  overflow: hidden;
}

.restaurant-details-ratings-stars-bottom {
  font-size: 9px;
  line-height: 1.6;
  color: #CFD1D2;
}

.restaurant-details-description {
  padding-top: 2px;
  font-size: 13px;
  letter-spacing: .04em;
}

.restaurant-footer {
  background-color: #10171F;
  margin-left : -40px;
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 50px;
}

.restaurant-footer-logo {
  background-color: white;
  height: 50px;
  border-radius: 50%;
  padding-right: 20px;
  background-clip: content-box;
}



.description-title {
  padding: 1rem 1rem 0.25rem;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.125em
}

.description-type {
  padding: 0.25rem 1rem 0.25rem;
  font-weight: 300;
  font-size: 15px;
}

.description-details-container {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  padding: 0.25rem 1rem 0rem;
}

.description-details {
  font-weight: 300;
  font-size: 14px;
  border-bottom: 1px #656666 solid;
}

.desription-details-seperator {
  padding-right: 0.25em;
  padding-left: 0.25em;
}

.description-divider {
  border-bottom: 1px #656666 solid;
  border-top: 1px #656666 solid;
  height: 4px;
  margin: 23px 1rem 17px 1rem;


}

.description-apateez-header {
  padding: 0.25rem 1rem 0.5rem;
  font-size: 16px;
  letter-spacing: 0.086em
}

.description-ratings-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-bottom: 1rem;
}

.description-ratings-food, .description-ratings-decor {
  padding: 1rem 3rem 0.5rem;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px #d0d2d3 solid;
  border-right: 1px #d0d2d3 solid;
}

.description-ratings-service {
  padding: 1rem 3rem 0.5rem;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px #d0d2d3 solid;

}

.description-ratings-label {
  padding: 0.25rem 1rem 0.5rem;
  font-weight: 300;
  font-size: 14px;
}

.description-body {
  padding: 1rem 1rem 2rem;
  font-size: 16px;
  letter-spacing: 0.026em;
}

.reviews-container, .description-container {
  max-width: 65em;
  display: flex;
  flex-direction: column;
  margin: 2rem 2em 2rem;
  background-color: #FFFFFF;
  padding-left: 2rem;
  padding-right: 2rem;
}

.reviews-modal-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0em;
  background-color: #FFFFFF;
  padding-left: 2rem;
  padding-right: 2rem;
}

.modal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-reviews-title {
  display: flex;
  flex-direction: row;
  letter-spacing: .086em;
  padding: 1rem;
  font-size: 14px;

}

.reviews-modal {
  display: flex;
  flex-direction: column;
  letter-spacing: .086em;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem
}

.reviews-title {
  display: flex;
  flex-direction: row;
  letter-spacing: .086em;
  padding: 2rem;
  font-size: 14px;
}

.reviews-title-stars, .reviews-title-google  {
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 14px;
  font-weight: 400;

}

.review-container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  border-top: 1px #d0d2d3 solid;
}

.review-container-footer {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px #d0d2d3 solid;
  text-align: center;
}

.reviews-modal-footer{
  text-align: center;
}

.reviews-footer-btn {
  font-size: 13px;
  margin:auto;
  display:block;
  border: 2px solid #b70038;
  color: #b70038;
  text-transform: uppercase;
  text-shadow: none;
  height:40px;
  width: 192px;
  box-shadow: none;
  background-color: white !important;
}

.reviews-footer-btn:hover {
  background-color: #b70038 !important;
  color: white;
}


.review-profile-pic {
  display: flex;
  flex-direction: row;
  max-width: 25%;
  max-height: 100%;
}

.review-column {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  color: #101820;
  max-width: 90%;
}

.review-column-name {
  padding-bottom: 1rem;
  font-size: 13px;

}
.review-column-date {
  padding-bottom: 1rem;
  font-weight: 300;
  font-size: 13px;

}

.review-column-text {
  padding-bottom: 1rem;
  font-size: 13px;
  line-height: 1.6;
}


.header{
	display: grid;
	grid-template-columns: 1.2fr 2fr 1fr 1fr 1fr ;
	height: 79px;
}
.rightside{
	text-align: center;
	padding-top: 20%;
}
.hoverred{

	color:#656666;
}
.hoverred:hover{
    cursor: pointer;
	color:#b70038;
}
.logo{
	background: url("https://s3-us-west-1.amazonaws.com/apateezassets/apateez-logo-long-white.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	border-right:1px solid #d0d2d3;
	background-position:center;

}
.logo:hover{
	background: url("https://s3-us-west-1.amazonaws.com/apateezassets/apateez-logo-long-red.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	border-right:1px solid #d0d2d3;
	background-position:center;

}
.searchbox{
	border-right:1px solid #d0d2d3;
	padding-left: 5%;
	padding-right:5%;
	top:10px;
	letter-spacing: 1.2px;
	color:#656666;


}
i.searchIcon{
	display: inline-block;
	font-size: 20px;
	padding-top:15px;

}
input.input{

	height: 19px;
	border-bottom:1px solid #d0d2d3;
}
.social{
	top:430px;
	right: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-self: right;
	background: #101820;
	position: absolute;
	height: 60px;
	width: 390px;
	z-index: 1;
	padding: 1%;

}
.smallsocial{
	top:430px;
	right: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: flex-end;
    align-self: right;
	background: #101820;
	position: absolute;
	height: 60px;
	width: 250px;
	z-index: 1;
	padding: 1%;

}
.dropdown-content {
  background-color: #1c252c;

  opacity: .7;
  margin-top: 80px;

  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  position: relative;
  border-bottom: 1px solid #656666;
  border-right: 1px solid #656666;
  min-height: 80px;
  text-align: center;
  text-decoration: none;
}


.dropdown-content li {
	margin-top: 20px;
    font-size: 20px;
    color: white;

    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: center;

    border-bottom: 1px solid #656666;
    border-right: 1px solid #656666;
    box-sizing: border-box;
    min-height: 80px;
    position: relative;
}
#dropdown_0 li:hover {
	background-color: #1c252c;
	cursor: pointer;
	font-size: 22px;
}
i.medium {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background: black;
    border-style: solid;
    border-width: 1px;
    height: 40px;
    width: 40px;
    padding-left: 8px;

}
.fa-twitter{
	background-color: white;
 border-radius: 50%;
 border: 1x solid grey;
 padding:10px;
 size: 10px;
}
.fa-pinterest{
	background-color: white;
 border-radius: 50%;
 border: 1x solid grey;
 padding:10px;
 size: 10px;
}
.fa-google-plus{
	background-color: white;
 border-radius: 50%;
 border: 1x solid grey;
 padding:10px;
 size: 10px;
}
.fa-envelope{
	background-color: white;
 border-radius: 50%;
 border: 1x solid grey;
 padding:10px;
 size: 10px;
}
.fa-ellipsis-h{
	background-color: white;
 border-radius: 50%;
 border: 1x solid grey;
 padding:10px;
 size: 10px;
}
.fa-times{
	background-color: white;
 border-radius: 50%;
 border: 1x solid grey;
 padding:10px;
 size: 10px;
}

.fa-twitter:hover{
   background: blue;
}


.openGrid{
	display: grid;
	grid-template-columns: 1fr .5fr 1fr .5fr 1fr;
	grid-gap: .25em;
	height: 384px;
	overflow: hidden;
	top: 79px;
}
.verticalGrid{
	width:250px;
	display: grid;
	grid-gap: .25em;
	grid-template-columns: 1fr;
	overflow: hidden;
}

.bigThumbnail{
	height: 384px;
	width: 520PX;
}
.smallThumbnail{
	height: 190px;
	width:250px;
}

.horizontalGrid{
	height: 384px;
	width: 520PX;
	overflow: hidden;
}
.verticalCol{
	height: 190px;
	width:250px;
	overflow: hidden;
}

.smallThumbnail:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: transform .5s ease-in-out;
}
.bigThumbnail:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: transform .5s ease-in-out;
}
.numBox{
	background-color: rgba(16,24,32,.75);
    height: 40px;
    width: 120px;
    padding-right: 10px;
    padding-left: 16px;
    cursor: pointer;
    position: absolute;
    color: white;
    right: 3% ;
    margin-top: 12%;
    display: grid;
}
.numBox:hover{
	background: black;
}

span{
	margin:auto;
	font-size: small;
}

.plus{
	font-size: 20px;
    font-weight: lighter;
}
.material-icons.cancel{
	position: absolute;
	z-index: 1;
	color: rgba(16,24,32,.95);
	border-radius: 100%;
    top: 10px;
    background: white;
    margin-left: 97.5%;
    text-align: center;
    font-weight: 900;
}
.material-icons.apps{

	z-index: 300;
	color: white;
	background: black;
    width: 40px;
    height: 35px;
    border: none;
    opacity: 0.9;
    font-size: x-large;
}
.material-icons:hover{
   cursor: pointer;
   transition: transform 1s ease-in-out;
   color: white;
   background: black;
}
.material-icons.cancel:hover{
   cursor: pointer;
   transition: transform 1s ease-in-out;
   color: white;
   transform: scale(1.2);
   transition: transform .5s ease-in-out;
}
.open{
	background: none;
}
.FullOpenGrid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: .25em;
	height: 100%;
	width:100%;
	overflow: auto;
	z-index: 2;
}

.gridThumbnail{
	height: 250px;
	width: 100%;
}

.eachImage{
	height: 250px;
	width: 100%;
}

img:hover{
    cursor: pointer;
}

img{
    max-height: 650px;
    max-width: 600px;
}

.ril-toolbar__item{
	margin-left: 180px;
	opacity: .9;
    font-size: 10px;
}
.restaurantName{
	font-size: 15px;
    color: white;
    opacity: 1;
    margin-left: 43%;
    padding: 20px;
    letter-spacing: 1.5px;
}

.ril-next-button:hover{
	background-color: black;
}
.ril-next-button:visited{
	background-color: black;
}
.ril-next-button:active{
	background-color: black;
}
.ril-next-button:focus{
	background-color: black;
}
.ril-prev-button:hover{
	background-color: black;
}
.ril-prev-button:visited{
	background-color: black;
}
.ril-prev-button:active{
	background-color: black;
}
.ril-prev-button:focus{
	background-color: black;
}
.photoNum{
	font-size: 12px;
	font-weight: lighter;
}
.restaurantN{
	font-size: 14px;
}
